.title {
  text-align: center;
  margin-bottom: 60px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  align-items: center;
}

.image,
.text {
  opacity: 0;
  transition: all 0.8s ease;
}

.image {
  transform: translateX(-60px);
}

.text {
  transform: translateX(60px);
}

.showLeft {
  opacity: 1;
  transform: translateX(0);
}

.showRight {
  opacity: 1;
  transform: translateX(0);
}